.nav {
  background: #448ccb;
  color: white;
  height: 8rem;
  padding-left: 5rem;

  .nav-shortcuts {
    font-size: .6rem;
    height: 2rem;
    padding-top: .5rem;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: inline-block;
        text-transform: uppercase;
        float: left;

        :before {
          content: "|";
          padding-right: .5rem;
        }
      }

      a {
        display: block;
        padding-right: .7rem;
        text-decoration: none;
        color: white;

        &:hover:before {
          color: #ffffff;
        }

        &:hover {
          color: #20282E;
        }
      }
    }
  }

  .nav-menu {
    text-transform: uppercase;
    height: 2.5rem;
    padding-top: .5rem;
    font-size: .8rem;

    .menu-icon, .menu-btn {
      display: none;
    }

    .nav-title {
      float: left;
      font-size: 1.6rem;
      padding-top: .5rem;

      .nav-bold-title {
        font-weight: 800;
      }

      .nav-light-title {
        font-weight: 300;
      }
    }

    .menu {
      float: right;
      padding-top: .8rem;
      margin-right: 2rem;
      font-weight: bold;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          display: inline-block;
          text-transform: uppercase;
          padding: 0 .7rem .7rem .7rem;

          ul:before {
            content: '';
            display: block;
            border-color: transparent transparent #1e2123 transparent;
            border-style: solid;
            border-width: 10px;
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -10px;
          }

          ul {
            text-align: left;
            background: #1e2123;
            position: absolute;
            transition: all 0.5s ease;
            display: none;
            visibility: hidden;
            padding: 0.3125rem .2rem .2rem .2rem;
            margin-left: -55px;
            width: 10rem;
            font-size: .8rem;
            margin-top: .7rem;

            li {
              font-weight: 800;
              display: inline-block;
              width: 100%;
              position: relative;
              vertical-align: middle;
              padding: 0;

              a {
                color: #ffffff !important;
                padding: .5rem 1.5rem .5rem 1.5rem;
              }
            }

            li:hover {
              background: #ffffff !important;

              a {
                color: #1e2123 !important;
              }
            }
          }

          a {
            display: block;
            text-decoration: none;
            color: white;
          }

          .active {
            color: #000000;

            &:hover {
              color: #000000;
            }
          }
        }

        li:hover {
          &, a {
            color: #20282E;
            cursor: pointer;
          }

          ul {
            display: block;
            visibility: visible;
            z-index: 1;
            opacity: .9;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .nav {
    padding: 0;
    height: 3.5rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ffffff;

    .nav-shortcuts {
      display: none;
    }

    .nav-menu {
      height: 3.5rem;
      position: relative;
      width: 100%;
      z-index: 3;
      padding: 0;

      .nav-title {
        float: left;
        display: inline-block;
        padding-top: 1.2rem;
        padding-left: 1rem;
      }

      .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 27px 20px;
        position: relative;
        user-select: none;
        margin-right: 2rem;
      }

      .menu-icon .navicon {
        background: #fff;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
      }

      .menu-icon .navicon:before,
      .menu-icon .navicon:after {
        background: #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }

      .menu-icon .navicon:before {
        top: 5px;
      }

      .menu-icon .navicon:after {
        top: -5px;
      }

      .menu-btn {
        display: none;
      }

      .menu-btn:checked ~ .menu > .mobile-menu {
        max-height: 340px;
      }

      .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }

      .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }

      .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }

      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }

      .menu {
        float: none;
        display: inline-block;
        text-align: center;
        width: 100%;
        background: #448ccb;
        padding: 0;

        .mobile-menu {
          clear: both;
          max-height: 0;
          transition: max-height .2s ease-out;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: hidden;

          li {
            display: block;
            padding: 20px 20px;
            text-decoration: none;

            &:hover {
              background: #e8e8e9;

              a {
                color: #448ccb;
              }

              ul {
                display: none;
                visibility: hidden;
              }
            }

            a {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
