.works {
  height: 38rem;
  padding: 5rem;

  .works-header {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #1e2123;
    padding-bottom: 1rem;
  }

  .works-divider {
    padding-top: 1rem;
    border-top: .8rem solid #1e2123;
    width: 3.5rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 1200px) {
  .works {
    height: auto;
    padding: 4rem;
  }
}

@media (max-width: 960px) {
  .works {
    height: auto;
    padding: 3rem 3rem 5rem 3rem;
  }
}