.contact {
  padding: 2rem 5rem 2rem 5rem;

  .contact-header {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #1e2123;
    padding-bottom: 1rem;
  }

  .contact-divider {
    padding-top: 1rem;
    border-top: .8rem solid #1e2123;
    width: 3.5rem;
    padding-bottom: 1rem;
  }

  .contact-content {
    padding-top: 1rem;
    color: #1e2123;
    height: 25rem;

    .contact-text {
      float: left;
      width: 40%;
      padding: 0 1rem 0 1rem
    }

    .contact-form {
      float: right;
      width: 40%;
      padding-right: 4rem;

      label {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: bold;
      }

      input[type=text], input[type=email], select, textarea {
        outline: none;
        width: 100%;
        padding: 12px;
        border: 2px solid #e8e8e9;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: none;

        &:focus {
          outline: none;
          border: 2px solid #1e2123;
          border-radius: 0;
        }
      }

      input[type=submit] {
        outline: none;
        font-weight: 800;
        background-color: #ffffff;
        color: #0c9aec;
        padding: 5px 10px;
        border: 2px solid #0c9aec;
        cursor: pointer;
        text-transform: uppercase;
      }

      input[type=submit]:hover {
        background-color: #0c9aec;
        color: #ffffff;
      }
    }
  }
}