.service {
  padding: 5rem;
  height: 38rem;
  background: #448ccb;
  color: #ffffff;

  .service-1st {
    width: 30%;
    float: left;
    font-size: 1rem;

    .service-1st-title {
      width: 100%;
      text-transform: uppercase;
      font-weight: 800;
    }
  }

  .service-2nd {
    width: 65%;
    float: right;

    .service-2st-title {
      margin: 0 2rem 0 2rem;
      width: 100%;
      text-transform: uppercase;
      font-weight: 800;
    }

    .service-2st-description {
      p {
        margin: 1rem 2rem;
      }
    }

    .service-2nd-data {
      margin-top: 3rem;
      width: 100%;
      background: #ffffff;
      color: #1e2123;
      height: 22rem;

      .service-2nd-data-left {
        float: left;
        width: 40%;
        margin: 2rem;

        .service-2nd-data-left-title {
          font-weight: 800;
        }

        .service-2nd-data-left-description {
          padding-bottom: .5rem;
        }

        .service-2nd-data-left-list {
          font-style: italic;

          li {
            list-style-type: none;

            &:not(:first-child) {
              border-top: 1px solid;
            }

            &:hover {
              text-shadow: .5px 0 0;
              cursor: pointer;
            }
          }
        }
      }

      .service-2nd-data-right {
        float: right;
        width: 40%;
        margin: 2rem;

        .service-2nd-data-right-title {
          font-weight: 800;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .service {
    padding: 4rem;

    .service-2nd .service-2nd-data {

      .service-2nd-data-left {
        margin-left: 1rem;
        margin-top: 1rem;
      }

      .service-2nd-data-right {
        margin-right: 1rem;
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: 960px) {
  .service {
    padding: 3rem;

    .service-1st {
      float: none;
      width: 100%;
    }

    .service-2nd {
      width: 100%;
      float: none;

      .service-2nd-data {
        height: 18rem;

        .service-2nd-data-left {
          margin-left: 1rem;
          margin-top: 1rem;
        }

        .service-2nd-data-right {
          margin-right: 1rem;
          margin-top: 1rem;
        }
      }

      .service-2st-title {
        margin: 0;
      }

      .service-2st-description {
        p {
          margin: 1rem 0;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .service {
    height: auto;

    .service-2nd {
      .service-2nd-data {
        height: auto;

        .service-2nd-data-left, .service-2nd-data-right {
          float: none;
          width: auto;
          margin: 0;
          padding: 1rem;
        }
      }
    }
  }

}