.header {
  padding: 2rem 5rem 2rem 5rem;
  height: 31.5rem;

  .header-welcome {
    height: inherit;
    float: left;
    width: 30%;
    margin: 0 3rem 0 0;
    color: #ffffff;
    background: #448ccb;
    position: relative;

    .header-title {
      padding: 2rem 2rem 2rem 2rem;
      font-size: 1.6rem;
      font-weight: 800;
      text-transform: uppercase;
    }

    .header-divider {
      margin-left: 2rem;
      border-top: .8rem solid #ffffff;
      width: 3.5rem;
    }

    .header-text {
      padding: 2rem 2rem 2rem 2rem;
      font-size: 1rem;
    }

    .header-text-button {
      position: absolute;
      left: 100%;
      width: 10rem;
      margin-left: -10rem;
      bottom: 5%;

      .text-button {
        outline: none;
        font-weight: 800;
        background-color: #448ccb;
        color: #ffffff;
        padding: 5px 10px;
        border: 2px solid #ffffff;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          background-color: #ffffff;
          color: #0c9aec;
        }
      }
    }
  }

  .header-logo {
    background: #d7d7d7;
    height: inherit;
    float: right;
    width: 60%;

    .logo {
      content: url("../images/header.png");
      width: 100%;
      height: auto;
      max-height: 65%;
    }

    .header-logo-text {
      .title {
        text-transform: uppercase;
        font-weight: 800;
        padding: 1rem 4rem;
      }

      .description {
        padding: 0 4rem 0 4rem;
      }
    }
  }
}