.nav {
  background: #448ccb;
  color: white;
  height: 8rem;
  padding-left: 5rem;

  .nav-shortcuts {
    font-size: .6rem;
    height: 2rem;
    padding-top: .5rem;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: inline-block;
        text-transform: uppercase;
        float: left;

        :before {
          content: "|";
          padding-right: .5rem;
        }
      }

      a {
        display: block;
        padding-right: .7rem;
        text-decoration: none;
        color: white;

        &:hover:before {
          color: #ffffff;
        }

        &:hover {
          color: #20282E;
        }
      }
    }
  }

  .nav-menu {
    text-transform: uppercase;
    height: 2.5rem;
    padding-top: .5rem;
    font-size: .8rem;

    .nav-title {
      float: left;
      font-size: 1.2rem;

      .nav-bold-title {
        font-weight: 800;
      }

      .nav-light-title {
        font-weight: 300;
      }
    }

    .menu {
      float: right;
      padding-top: .8rem;
      margin-right: 2rem;
      font-weight: bold;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          display: inline-block;
          text-transform: uppercase;
          float: right;

          ul:before {
            content: '';
            display: block;
            border-color: transparent transparent #1e2123 transparent;
            border-style: solid;
            border-width: 10px;
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -10px;
          }

          ul {
            text-align: left;
            background: #1e2123;
            position: absolute;
            transition: all 0.5s ease;
            display: none;
            visibility: hidden;
            padding: 0.3125rem .2rem .2rem .2rem;
            margin-left: -40px;
            width: 10rem;
            font-size: .8rem;

            li {
              font-weight: 800;
              display: inline-block;
              width: 100%;
              position: relative;
              vertical-align: middle;

              a {
                color: #ffffff !important;
                padding: .5rem 1.5rem .5rem 1.5rem;
              }
            }

            li:hover {
              background: #ffffff !important;

              a {
                color: #1e2123 !important;
              }
            }
          }

          a {
            display: block;
            padding: 0 .7rem .7rem .7rem;
            text-decoration: none;
            color: white;
          }
        }

        li:hover {
          a {
            color: #20282E;
          }

          ul {
            display: block;
            visibility: visible;
            z-index: 1;
            opacity: .9;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .nav {
    padding: 0;
    height: 6rem;

    .nav-shortcuts {
      display: none;
    }

    .nav-menu {
      height: inherit;
      text-align: center;

      .nav-title {
        float: none;
        display: inline-block;
        text-align: center;
        width: 100%;
      }

      .menu {
        float: none;
        display: inline-block;
        text-align: center;
      }
    }
  }
}
