.spinner-loader {
  width: 32px;
  height: 32px;
  background: url('../images/spinner.gif') no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -150%);
}