@import "../Layout/Navigation";
@import "../Layout/Content";
@import "../Layout/Footer";

@import "../Pages/Header";
@import "../Pages/Features";

@import "../Pages/Service";
@import "../Pages/Works";
@import "../Pages/About";
@import "../Pages/Contact";

@import "../Utils/Spinner";