body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  line-height: 1.6rem;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: inherit;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 1200px) {
  body {
    line-height: 1.2rem;
  }
}

